.header {
    display: flex;
    padding-top: 1rem;
    background: #000;
    justify-content: space-between;

    .shoppies {
        margin-left: 3rem;
        font-size: 2rem;
        color: #A1E500;
        text-decoration: none;
        font-weight: 600;
        opacity: .9;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
    }

    div {
        margin-top: .9rem;
        margin-left: -15rem;

        @media (max-width: 800px) {
            margin-left: 0;
        }

        a {
            text-decoration: none;
            color: #fff;
            margin-left: 2rem;
            font-size: 1rem;

            &:hover {
                color: #A1E500;
                opacity: .8;
                transition: 0.3s ease-out opacity;
            }
            
            &.active {
                color: #A1E500;
                opacity: .9;
            }
        }
    }
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 100; /* this is optional and should be different for every project */
  }

.sticky-wrapper {
    position: relative;
    height: 3rem; /* We need to change this value */
  }
  
  .sticky .sticky-inner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }