.header {
    display: flex;
    padding-top: 1rem;

    .shoppies {
        margin-left: 3rem;
        font-size: 2rem;
        color: #A1E500;
        text-decoration: none;
        font-weight: 600;
        opacity: .9;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
    }

    div {
        margin-top: .9rem;
        margin-left: 5rem;

        a {
            text-decoration: none;
            color: #fff;
            margin-left: 2rem;
            font-size: 1rem;

            &:hover {
                color: #A1E500;
                opacity: .8;
                transition: 0.3s ease-out opacity;
            }
            
            &.active {
                color: #A1E500;
                opacity: .9;
            }
        }
    }
}