.card-pack {
    display: flex;
    margin: 3rem 1rem;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-bottom: 3rem;
}

.card {
    width: 22%;
    margin: 2rem 1rem;
    
    img {
        height: 18rem;
        width: 100%;
    }
    
    div {
        color: #fff;
        padding: 1rem;
        
        p:first-child {
            white-space: nowrap;
            overflow: hidden;
            text-align: center;
            font-size: 1.8rem;
            text-overflow: ellipsis;
        }

        p {
            margin-bottom: .5rem;
        }

        button {
            border: none;
            padding: .5rem;
            border-radius: 3px;
            color: #fff;
            opacity: .9;
            font-size: .9rem;
            float: right;
            cursor: pointer;
        }

        button:disabled,
        button[disabled]{
            border: 1px solid #999999;
            background-color: #cccccc;
            color: #666666;
            border-radius: 5px;
            opacity: .5;
            cursor: unset;
        }
    }
}

.normal-button {
    background: #A1E500;
}

.danger-button {
  background: red;
}