.card-pack {
    display: flex;
    margin: 5rem 2rem;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-bottom: 5rem;
}

.card {
    width: 18rem;
    margin: 5px 15px;

    img {
        height: 18rem;
        width: 100%;
    }

    div {
        color: #fff;
        padding: 1rem;

        p:first-child {
            text-align: center;
            font-size: 1.8rem;
        }

        p {
            margin-bottom: .5rem;
        }

        button {
            border: none;
            padding: .5rem;
            border-radius: 3px;
            background: #A1E500;
            color: #fff;
            opacity: .9;
            font-size: .9rem;
            float: right;
            cursor: pointer;
        }
    }
}