.form {
    justify-content: flex-end;
    display: flex;
    margin-right: 3rem;
    margin-top: -2.3rem;

    input {
        width: 20rem;
        padding: .5rem;
        color: #000;
        font-size: .9rem
    }
}